ipch/
.vs/
SManager.opensdf
SManager.sdf

SManager/Debug
SManager/Release
bin/SManager.*
bin/Smanager_d.*

SMRiskSvr/Debug
SMRiskSvr/Release
bin/SMRiskSvr.*
bin/SMRiskSvr_d.*

SMPerm/Debug
SMPerm/Release
bin/SMPerm.*
bin/SMPerm_d.*

bin/bclog

*/*.aps
*/*.vcxproj.user
*/*.vcxproj.filters