ipch/
.vs/
SManager.opensdf
SManager.sdf

SManager/Debug
SManager/Release
bin/SManager.*
bin/Smanager_d.*
SManager/Proxy_Debug
SManager/Proxy_Release
bin/SManagerp.*
bin/Smanagerp_d.*
bin/*.7z

SMRiskSvr/Debug
SMRiskSvr/Release
bin/SMRiskSvr.*
bin/SMRiskSvr_d.*

SMPerm/Debug
SMPerm/Release
bin/SMPerm.*
bin/SMPerm_d.*

bin/bclog
back/
*.aps
*.vcxproj.user
SManager.VC.operdb
